{% extends 'base.html' %}
{% block title %}Add Item{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-6 offset-3">
				<h1 class="text-center my-3">Add an Item</h1>
				{% if error == True %}
					<p class="text-danger">Duplicate item found</p>
				{% endif %}
				<form action="{% url 'django_practice:add_item' %}" method="post">
				{% csrf_token %}

					<div class="mb-3">
						<label for="item_name">Item Name:</label>
						<input class="form-control" id="item_name" type="text" name="item_name" value="{{ item_name }}" maxlength="50" required>
					</div>

					<div class="mb-3">
						<label for="category">Category:</label>
						<textarea class="form-control" name="category" value="{{ category }}"required></textarea>
					</div>

					<div class="text-center">
						<input class="btn btn-success" type="submit" value="Add Item">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}