{% extends 'base.html' %}
{% block title %}Event Item{% endblock %}
{% block content %}

<div class="text-center my-3">
	<h1>{{ event_name }}</h1>
	<h3>Description</h3>
	<p>{{ description }}</p>
	<h3>Scheduled Date</h3>
	<p>{{ date_input }}</p>
	<h3>Status</h3>
	<p>{{ status }}</p>

	<button class="btn btn-primary mx-1 text-decoration-none"><a href ="{% url 'django_practice:update_event' id %}" class="text-light text-decoration-none">Edit Event</a>
	</button>

	<button class="btn btn-primary mx-1 text-decoration-none"><a href ="{% url 'django_practice:delete_event' id %}" class="text-light text-decoration-none">Delete Event</a>
	</button>

	<button class="btn btn-primary mx-1 text-decoration-none"><a href ="{% url 'django_practice:index' %}" class="text-light text-decoration-none">Back to Event List</a>
	</button>
</div>


{% endblock %}
