{% extends 'base.html' %}
{% block title %}Grocery Item{% endblock %}
{% block content %}

<div class="text-center my-3">
	<h1>{{ item_name }}</h1>
	<div class="list-group-item col-lg-6 offset-lg-3  ">
		<h3>Category</h3>
		<p>{{ category }}</p>
		<h3>Status</h3>
		<p>{{ status }}</p>

		<button class="btn btn-primary mx-1 text-decoration-none"><a href ="{% url 'django_practice:update_item' id %}" class="text-light text-decoration-none">Edit Item</a>
		</button>

		<button class="btn btn-primary mx-1 text-decoration-none"><a href ="{% url 'django_practice:delete_item' id %}" class="text-light text-decoration-none">Delete Item</a>
		</button>

		<button class="btn btn-primary mx-1 text-decoration-none"><a href ="{% url 'django_practice:index' %}" class="text-light text-decoration-none">Back to Grocery List</a>
		</button>
	</div>
</div>


{% endblock %}
